@media only screen and (max-width: 1199px) {
  .container {
    width: 100%;
  }
  .jumbotron .container h1 {
    font-size: 2em;
  }
  .jumbotron .container .top-text {
    padding-top: 130px;
  }
  .jumbotron .container .btn {
    margin-bottom: 150px;
  }
  .services .services-desc {
    padding-left: 70px;
  }
  .my-work .container {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .jumbotron .container h1 {
    font-size: 3em !important;
  }
}
